<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/styleLogin.css">
    <link rel="shortcut icon" type="image/x-icon" href="Image/Icon.png"> />
</head>
<body>
    <div class="container">
        <div class="boxContainer">
            <div class="title">
                <h1>Java With Prazz</h1>
            </div>
            <div class="boxLoginContainer">
                <h1 class="title">Nama</h1>
                <form action="/homePage" method="post">
                    <input placeholder="Masukan Nama" class="inputBox" autocomplete="off" name="nama">
                    <br>
                    <button type="submit" class="buttonSubmit" name="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>