<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/styleHomePage.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Java With Prazz</h1>
        </div>
    <div class="container">
        <div class="boxFormContainer">
            <div class="title">
                <h1>Sukses!!</h1>
                <p>Terimakasih, <%= name %>!</p>
            </div>
        </div>
 </div>
</body>
</html>